<% provide(:title, "Password Repo.") %>
<div class="fa fa-key", id="dashboard">
Password Repository
</div>
<br/><br/>

<div class="jumbotron">

  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>current Passwords:</strong></h2></div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>System Name</th>
      <th>User Name</th>
      <th>Password</th>
      <th>Active</th>
      <th>Registered On:</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @passwords.each do |pw| %>
      <tr>
        <td><%= pw.system_name %></td>
        <td><%= pw.user_name %></td>
        <td><%= pw.system_password %></td>
        <td><%= pw.active.humanize %></td>
        <td><%= pw.created_at.strftime("%d %b. %Y") %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @passwords %>

  <hr>

</div>