

<div class="nested-fields">
  <div class="field">
    <%= link_to_remove_association 'Remove', f, class: 'fa fa-close', style:"font-size:15px;color:red"%>
  </div>


  <div class="field">
    <%= f.label :base_item_id, "Name",class: 'control-label' %>
    <div class="form-control">
      <%= f.collection_select :base_item_id, BaseItem.order(:name), :id, :name, include_blank: true, style: 'width: 100px;' %>
    </div>
  </div>

  <div class="field">
    <%= f.label  "Description:"  %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label  "Quantity:"  %>
    <%= f.text_field :quantity , class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label  "Value:"  %>
    <%= f.text_field :value, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label  "Owner:"  %>
    <%= f.text_field :owner, class: 'form-control' %>
  </div>

</div>


