<p id="notice"><%= notice %></p>

<div class="jumbotron">


    <strong>Department:</strong><br><br>
  <textarea rows="4" cols="80" readonly>   <%= @inventory.department.name %></textarea>


</div>

<div class="jumbotron">


    <strong>Period from:</strong><br><br>
  <textarea rows="4" cols="80" readonly>      <%= @inventory.period_from %></textarea>


</div>



<div class="jumbotron">

    <strong>Period to:</strong><br><br>
  <textarea rows="4" cols="80" readonly>   <%= @inventory.period_to %></textarea>




</div>









<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 1: Items</strong></h2></div>
<br>


<hr>

<div>
  <% for item in @inventory.items %>

<div class="jumbotron">

  <div>

    <strong>Item:</strong><br><br>
      <textarea rows="4" cols="80" readonly>    <%=h item.item %></textarea>
  </div>

  <div>

    <strong>Description:</strong><br><br>
    <textarea rows="4" cols="80" readonly>       <%= item.description %></textarea>

  </div>




  <div>

    <strong>Quantity:</strong><br><br>
    <textarea rows="4" cols="80" readonly>    <%= item.quantity %></textarea>

  </div>


  <div>

    <strong>Value:</strong><br><br>
    <textarea rows="4" cols="80" readonly>   <%= item.value %>
    </textarea>

  </div>


  <div>

    <strong>Owner:</strong><br><br>
    <textarea rows="4" cols="80" readonly> <%= item.owner %></textarea>
    </textarea>


  </div>




</div>




 <% end %>
</div>
<hr/>
<div>


  <div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 2: Comments</strong></h2></div>
  <br>
  <% for comment in @inventory.comments %>
<div class="jumbotron">

  <strong>Comment:</strong><br><br>
  <textarea rows="4" cols="80" readonly>  <%= comment.commentary %></textarea>


</div>

  <% end %>
</div>
<br>
<hr/>
<div class="links">

  <%= link_to 'Edit', edit_inventory_path(@inventory), class: 'fa fa-edit' %> |
  <%= link_to 'Back', inventories_path , class: 'fa fa-arrow-left'%>

</div>
