<p id="notice"><%= notice %></p>

<div class="jumbotron">


    <strong>Department:</strong>
    <%= @inventory.department.name %>


</div>

<div class="jumbotron">


    <strong>Period from:</strong>
    <%= @inventory.period_from %>


</div>



<div class="jumbotron">

    <strong>Period to:</strong>
    <%= @inventory.period_to %>




</div>












<hr>

<div>
  <% for item in @inventory.items %>

    <div class="jumbotron">
      <p>
        <strong>Item:</strong>
        <%=h item.item %>
      </p>


    </div>



    <div class="jumbotron">

      <p>
        <strong>Description:</strong>
        <%= item.description %>
      </p>

    </div>

    <div class="jumbotron">


      <p>
        <strong>Quantity:</strong>
        <%= item.quantity %>
      </p>

    </div>

    <div class="jumbotron">
      <p>
        <strong>Value:</strong>
        <%= item.value %>
      </p>


    </div>

    <div class="jumbotron">
      <p>
        <strong>Owner:</strong>
        <%= item.owner %>
      </p>


    </div>

 <% end %>
</div>
<hr/>
<div>
  <% for comment in @inventory.comments %>
    <p>
      <strong>comment:</strong>
      <%= comment.commentary %>
    </p>
  <% end %>
</div>
<br>
<hr/>
<div class="links">

  <%= link_to 'Edit', edit_inventory_path(@inventory), class: 'fa fa-edit' %> |
  <%= link_to 'Back', inventories_path , class: 'fa fa-caret-square-o-left'%>

</div>
