<p id="notice"><%= notice %></p>


<div class="jumbotron">


    <div>

        <strong>Full Name:</strong><br><br>
     <textarea rows="1" cols="80" readonly><%= @person.fullname %></textarea>

    </div>

  <br>
    <div>

      <strong>DoB:</strong><br><br>
      <textarea rows="1" cols="80" readonly><%= @person.dob.strftime("%d %b. %Y") %></textarea>

    </div>


</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 1: Emails</strong></h2></div>
<br>
<div>

  <% for email in @person.emails %>

    <div class="jumbotron">

      <div>
        <strong>Email:</strong><br><br>
        <textarea rows="1" cols="80" readonly><%=h email.email %></textarea>
      </div>
      <br>

      <div>
        <strong>Active:</strong><br><br>
        <textarea rows="1" cols="80" readonly><%=h email.active  %></textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h email.created_at.strftime("%d %b. %Y") %>
      </div>
    </div>

  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 2: Telephones</strong></h2></div>
<br>

<div>

  <% for telephone in @person.telephones %>

    <div class="jumbotron">

        <div>
          <strong>Telephone:</strong><br><br>
          <textarea rows="1" cols="80" readonly><%=h telephone.phone %></textarea>
        </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h telephone.active %></textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h telephone.created_at.strftime("%d %b. %Y") %>
      </div>
    </div>


  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 3: Postal Address</strong></h2></div>
<br>

<div>

  <% for address in @person.addresses %>

    <div class="jumbotron">

      <div>
        <strong>Address:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h address.address %></textarea>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>

        <textarea rows="1" cols="80" readonly>   <%=h address.active %></textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h address.created_at.strftime("%d %b. %Y") %>
      </div>

    </div>


  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 4: Education</strong></h2></div>
<br>

<div>

  <% for qualification in @person.qualifications %>

    <div class="jumbotron">

      <div>
        <strong>Name:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h qualification.name %></textarea>
      </div>
      <br>
      <div>
        <strong>School:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h qualification.school %></textarea>
      </div>
      <br>
      <div>
        <strong>From:</strong><br><br>
        <textarea rows="1" cols="80" readonly>    <%=h qualification.from %></textarea>
      </div>
      <br>
      <div>
        <strong>To:</strong></p><br><br>
        <textarea rows="1" cols="80" readonly>        <%=h qualification.to %></textarea>
      </div>
      <br>

      <div>
        <strong>Grade:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h qualification.grade %> </textarea>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <textarea rows="1" cols="80" readonly>   <%=h qualification.active %> </textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h qualification.created_at.strftime("%d %b. %Y") %>
      </div>

    </div>
  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 5: Employment</strong></h2></div>
<br>

<div>

  <% for job in @person.employments %>

    <div class="jumbotron">

      <div>
        <strong>Company:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h job.company %> </textarea>
      </div>
      <br>
      <div>
        <strong>Position:</strong><br><br>
        <textarea rows="1" cols="80" readonly>    <%=h job.position %> </textarea>
      </div>
      <br>
      <div>
        <strong>From:</strong><br><br>
        <textarea rows="1" cols="80" readonly><%=h job.from %> </textarea>
      </div>
      <br>
      <div>
        <strong>To:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h job.to %> </textarea>
      </div>
      <br>

      <div>
        <strong>Termination Reason:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h job.terminationreason %></textarea>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <textarea rows="1" cols="80" readonly>    <%=h job.actve %> </textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h job.created_at.strftime("%d %b. %Y") %>
      </div>

    </div>
  <% end %>

</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 6: References</strong></h2></div>
<br>

<div>

  <% for reference in @person.references %>

    <div class="jumbotron">

      <div>
        <strong>Company:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h reference.employer %> </textarea>
      </div>
      <br>
      <div>
        <strong>Referee:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h reference.referee %> </textarea>
      </div>
      <br>
      <div>
        <strong>Telephone:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h reference.telephone %></textarea>
      </div>
      <br>
      <div>
        <strong> Email:</strong>:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h reference.email %> </textarea>
      </div>
      <br>

      <div>
        <strong>Details:</strong><br><br>
        <textarea rows="1" cols="80" readonly>   <%=h reference.details %> </textarea>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <textarea rows="1" cols="80" readonly>   <%=h reference.active %> </textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h reference.created_at.strftime("%d %b. %Y") %>
      </div>
    </div>
  <% end %>

</div>



<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 7: General Comments</strong></h2></div>
<br>

<div>

  <% for comment in @person.comments %>

    <div class="jumbotron">

      <div>
        <strong>Comment:</strong><br><br>
        <textarea rows="1" cols="80" readonly>      <%=h comment.commentary %></textarea>
      </div>
      <br>
      <br>
      <div>
        Registered on:
        <%=h comment.created_at.strftime("%d %b. %Y") %>
      </div>
    </div>
  <% end %>

</div>

<div class="links">
  <%= link_to 'Edit', edit_person_path(@person), class:'fa fa-edit' %> |
  <%= link_to 'Back', people_path, class:'fa fa-arrow-left' %>

</div>

