<p id="notice"><%= notice %></p>


<div class="jumbotron">

    <strong>Name:</strong><br><br>
  <p class="show_page_data"> <%= @person.name %></p>


</div>

<div class="jumbotron">


    <strong>Surname:</strong><br><br>
  <p class="show_page_data"> <%= @person.surname %></p>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 1: Emails</strong></h2></div>
<br>
<div>

  <% for email in @person.emails %>

    <div class="jumbotron">

      <div>
        <strong>Email:</strong><br><br>
        <p class="show_page_data"><%=h email.email %></p>
      </div>
      <br>

      <div>
        <strong>Active:</strong><br><br>
        <p class="show_page_data"><%=h email.active  %></p>
      </div>
      <br>
    </div>

  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 2: Telephones</strong></h2></div>
<br>

<div>

  <% for telephone in @person.telephones %>

    <div class="jumbotron">

        <div>
          <strong>Telephone:</strong><br><br>
          <p class="show_page_data"> <%=h telephone.phone %></p>
        </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <p class="show_page_data"> <%=h telephone.active %></p>
      </div>
      <br>
    </div>


  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 3: Postal Address</strong></h2></div>
<br>

<div>

  <% for address in @person.addresses %>

    <div class="jumbotron">

      <div>
        <strong>Address:</strong><br><br>
        <p class="show_page_data"> <%=h address.address %></p>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <p class="show_page_data">
          <%=h address.active %></p>
      </div>
      <br>

    </div>


  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 4: Education</strong></h2></div>
<br>

<div>

  <% for qualification in @person.qualifications %>

    <div class="jumbotron">

      <div>
        <strong>Name:</strong><br><br>
        <p class="show_page_data"><%=h qualification.name %></p>
      </div>
      <br>
      <div>
        <strong>School:</strong><br><br>
        <p class="show_page_data">  <%=h qualification.school %></p>
      </div>
      <br>
      <div>
        <strong>From:</strong><br><br>
        <p class="show_page_data">  <%=h qualification.from %></p>
      </div>
      <br>
      <div>
        <strong>To:</strong></p><br><br>
        <p class="show_page_data">  <%=h qualification.to %></p>
      </div>
      <br>

      <div>
        <strong>Grade:</strong><br><br>
        <p class="show_page_data"> <%=h qualification.grade %></p>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <p class="show_page_data">  <%=h qualification.active %></p>
      </div>
      <br>

    </div>
  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 5: Employment</strong></h2></div>
<br>

<div>

  <% for job in @person.employments %>

    <div class="jumbotron">

      <div>
        <strong>Company:</strong><br><br>
        <p class="show_page_data">  <%=h job.company %></p>
      </div>
      <br>
      <div>
        <strong>Position:</strong><br><br>
        <p class="show_page_data">  <%=h job.position %></p>
      </div>
      <br>
      <div>
        <strong>From:</strong><br><br>
        <p class="show_page_data">   <%=h job.from %></p>
      </div>
      <br>
      <div>
        <strong>To:</strong><br><br>
        <p class="show_page_data"> <%=h job.to %></p>
      </div>
      <br>

      <div>
        <strong>Termination Reason:</strong><br><br>
        <p class="show_page_data">   <%=h job.terminationreason %></p>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <p class="show_page_data">   <%=h job.actve %></p>
      </div>
      <br>

    </div>
  <% end %>

</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 6: References</strong></h2></div>
<br>

<div>

  <% for reference in @person.references %>

    <div class="jumbotron">

      <div>
        <strong>Company:</strong><br><br>
        <p class="show_page_data">  <%=h reference.employer %></p>
      </div>
      <br>
      <div>
        <strong>Referee:</strong><br><br>
        <p class="show_page_data">  <%=h reference.referee %></p>
      </div>
      <br>
      <div>
        <strong>Telephone:</strong><br><br>
        <p class="show_page_data">  <%=h reference.telephone %></p>
      </div>
      <br>
      <div>
        <strong> Email:</strong>:</strong><br><br>
        <p class="show_page_data">  <%=h reference.email %></p>
      </div>
      <br>

      <div>
        <strong>Details:</strong><br><br>
        <p class="show_page_data">   <%=h reference.details %></p>
      </div>
      <br>
      <div>
        <strong>Active:</strong><br><br>
        <p class="show_page_data"> <%=h reference.active %></p>
      </div>
      <br>

    </div>
  <% end %>

</div>



<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 7: General Comments</strong></h2></div>
<br>

<div>

  <% for comment in @person.comments %>

    <div class="jumbotron">

      <div>
        <strong>Comment:</strong><br><br>
        <p class="show_page_data">   <%=h comment.commentary %></p>
      </div>
      <br>
    </div>
  <% end %>

</div>

<div class="links">
  <%= link_to 'Edit', edit_person_path(@person), class:'fa fa-edit' %> |
  <%= link_to 'Back', people_path, class:'fa fa-arrow-left' %>

</div>

