

<div class="nested-fields">


  <div class="form-inputs">
    <div class="control-group">
      <%= f.label :person_id, "Owner" %>
      <div class ="controls">
        <%= f.collection_select :person_id, Person.order(:fullname), :id, :fullname, include_blank: true %>
      </div>
    </div>
    <br>
    <div class="control-group">
      <%= f.label :inflowtype_id, "Type" %>
      <div class ="controls">
        <%= f.collection_select :inflowtype_id, Inflowtype.order(:name), :id, :name, include_blank: true %>
      </div>
    </div>
<br>

    <%= f.input :year,:input_html => { :value => Date.today.year} %>
    <%= f.input :month,:input_html => { :value => Date.today.month} %>
    <%= f.input :user_id,:as => :hidden, :input_html => { :value => current_user.id}%>
    <%= f.input :amount ,placeholder:'Amount...'%>
    <%= f.input :details,placeholder:'Details...' %>
  </div>


  <%= link_to_remove_association 'Remove', f ,class: 'fa fa-close', style:"font-size:15px;color:red"%>

</div>
