<% provide(:title, "View Budget") %>
<p id="notice"><%= notice %></p>

<h1>The Monthly Budget</h1>

<div class="jumbotron">
    <div>
      <strong>Month:</strong><br><br>
      <textarea rows="1" cols="80" readonly>   <%= @budget.month %></textarea>
    </div>
  <br>
    <div>
      <strong>Year:</strong><br><br>
      <textarea rows="1" cols="80" readonly>  <%= @budget.year %></textarea>
    </div>
  <br>
    <div>
      <strong>Budget date:</strong><br><br>
      <textarea rows="1" cols="80" readonly>  <%= @budget.budget_date.strftime("%d %b. %Y") %></textarea>
    </div>
  <br>
    <div>
      <strong>Name:</strong><br><br>
      <textarea rows="1" cols="80" readonly> <%= @budget.name %></textarea>
    </div>
</div>


<div class="jumbotron">
  <div>
    Created on:
    <%=h @budget.created_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Updated on:
    <%=h @budget.updated_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Budget Number:
    BN - <%=h @budget_number %>
  </div>
  <br>
</div>

<div class="links">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>

<div class="jumbotron">

  <stong> Total Income (€): </stong><br><br>

 <p>€ <%= @totalincome %></p><br>
  <div class="alert-info"><%= @totalincome.humanize %></div><br>
  <hr>
  <stong> Total Expenses (€): </stong><br><br>

  <p>€ <%= @totalexpense %></p>
  <div class="alert-info"><%= @totalexpense.humanize %></div><br>
  <hr>
  <stong> Balance (€): </stong><br><br>

  <p>€ <%= @balance %></p>
  <div class="alert-info"><%= @balance.humanize %></div><br>
  <hr>
  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Income Summary:</strong></h2></div>


  <table class="table table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Details </th>
      <th>Flow Type</th>
      <th>Owner</th>
      <th>Amount(€)</th>
    </tr>
    </thead>

    <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.created_at.strftime("%d %b. %Y")%>
        <td><%= income.details %></td>
        <td><%= income.inflowtype.name %></td>
        <td><%= income.person.fullname %></td>
        <td><%= income.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <hr>
  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Expenses Summary:</strong></h2></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Details </th>
      <th>Flow Type </th>
      <th>Owner</th>
      <th>Amount(€)</th>
    </tr>
    </thead>

    <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.created_at.strftime("%d %b. %Y")%>
        <td><%= expense.details %></td>
        <td><%= expense.outflowtype.name %></td>
        <td><%= expense.person.fullname %></td>
        <td><%= expense.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="links">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 1: Incomes Breakdown</strong></h2></div>
<br>


  <div class="jumbotron">
    <div>
      <strong>Salary:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @salary %></textarea>
    </div>
    <br>
    <div>
      <strong>Child Benefit:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @child_benefit %></textarea>
    </div>
    <br>

    <div>
      <strong>Lotto Winnings:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @lotto_winnings %></textarea>
    </div>
    <br>
    <div>
      <strong>Others:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @others %></textarea>
    </div>
    <br><br>
    <div>
      Total Income = € <%= @totalincome %>
    </div>
  </div>

<div class="links">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 2: Expenses Breakdown</strong></h2></div>
<br>

  <div class="jumbotron">
    <div>
      <strong>Rent:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @rent  %></textarea>
    </div>
    <br>
    <div>
      <strong>Telecom:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @telecom %></textarea>
    </div>
    <br>

    <div>
      <strong>eFlow:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @eflow %></textarea>
    </div>
    <br>
    <div>
      <strong>Food:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @food %></textarea>
    </div>
    <br>
    <div>
      <strong>Electricity:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @electricity %></textarea>
    </div>
    <br>
    <div>
      <strong>Credit Card Fees:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @credit_card_fees %></textarea>
    </div>
    <br>
    <div>
      <strong>Current Account Fees:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @current_account_fees %></textarea>
    </div>
    <br>
    <div>
      <strong>Allowance - Gaelle:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @allowance_gaelle %></textarea>
    </div>
    <br>
    <div>
      <strong>Allowance - Herve:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @allowance_herve %></textarea>
    </div>
    <br>
    <div>
      <strong>Loan  - PTSB:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @loan_ptsb %></textarea>
    </div>
    <br>
    <div>
      <strong>Loan - Chill Money:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @loan_chill_money %></textarea>
    </div>
    <br>
    <div>
      <strong>Lodgement - Credit Union:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @lodgement_credit_union %></textarea>
    </div>
    <br>
    <div>
      <strong>Family Support:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @family_support %></textarea>
    </div>
    <br>
    <div>
      <strong>Entertainment - Night Out:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @entertainment_nightout %></textarea>
    </div>
    <br>
    <div>
      <strong>Entertainment - Day Out:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @entertainment_dayout %></textarea>
    </div>
    <br>
    <div>
      <strong>Apple storage:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @apple_storage %></textarea>
    </div>
    <br>
    <div>
      <strong>AA Ireland:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @aa_ireland %></textarea>
    </div>
    <br>
    <div>
      <strong>Lottery Ticket:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @lottery_ticket %></textarea>
    </div>
    <br>
    <div>
      <strong>Car Tax:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @car_tax %></textarea>
    </div>
    <br>
    <div>
      <strong>Heating Oil:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @heating_oil %></textarea>
    </div>
    <br>

    <div>
      <strong>Car Service:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @car_service %></textarea>
    </div>
    <br>
    <div>
      <strong>Spiritual Tools:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @spiritual_tools %></textarea>
    </div>
    <br>
    <div>
      <strong>Other:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @other_expenses %></textarea>
    </div>
    <br>
    <div>
      <strong>Work Lunch:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @work_lunch %></textarea>
    </div>
    <br>
    <div>
      <strong>Pharmacy:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @pharmacy %></textarea>
    </div>
    <br>
    <div>
      <strong>Furniture:</strong><br><br>
      <textarea rows="1" cols="80" readonly>€  <%= @furniture%></textarea>
    </div>

    <br><br>
    <div>
      Total Expenses = € <%= @totalexpense %>
    </div>
  </div>

<div class="links">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 3: Comments</strong></h2></div>
<br>
<% for comment in @budget.comments %>
  <div class="jumbotron">
    <div>
      <strong>Comment:</strong><br><br>
      <textarea rows="1" cols="80" readonly>  <%= comment.commentary %></textarea>
    </div>
    <br>
    <div>
      Registered on:
      <%=h comment.created_at.strftime("%d %b. %Y") %>
    </div>
    <div>
      ID:
      <%=h comment.id %>
    </div>

  </div>

<% end %>

<div class="links">
  <%= link_to 'Edit', edit_budget_path(@budget), class:'fa fa-edit' %> |
  <%= link_to 'Back', budgets_path, class:'fa fa-arrow-left'  %>
</div>
