<p id="notice"><%= notice %></p>



<div class="jumbotron">
  <div>
    <strong>Delivery Date:</strong><br><br>
    <textarea rows="1" cols="80" readonly> <%= @delivery.delivery_date.strftime("%d, %b  %Y") %></textarea>
  </div>
  <br>
  <div>
    <strong>Receiver:</strong><br><br>
    <textarea rows="1" cols="80" readonly> <%= @delivery.person.fullname%></textarea>
  </div>
  <br>
</div>

<div class="jumbotron">
  Delivery ID:<%=h @delivery.id %>
</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Lodgements</strong></h2></div>
<br>
<div>

  <% for post in @delivery.posts %>

    <div class="jumbotron">

      <div>
        <strong>Owner:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h post.person.fullname %></textarea>
      </div>
      <br>

      <div>
        <strong>Type:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h post.post_type %> </textarea>
      </div>
      <br>
      <div>
        <strong>Description:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h post.description %> </textarea>
      </div>
      <br>

      <div>
        <strong> Scanned:</strong>:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h post.scanned.humanize %> </textarea>
      </div>
      <br>
      <div>
        Registered on:
        <%=h post.created_at.strftime("%d %b. %Y") %>
      </div>
      <div>
        ID:
        <%=h post.id %>
      </div>

    </div>
  <% end %>







</div>


<div class="links">
<%= link_to 'Edit', edit_delivery_path(@delivery), class:'fa fa-edit' %> |
<%= link_to 'Back', deliveries_path, class:'fa fa-arrow-left' %>
</div>