<% provide(:title, "Saving") %>
<p id="notice"><%= notice %></p>


<div class="jumbotron">
    <div>
      <strong>Month:</strong><br><br>
      <textarea rows="1" cols="80" readonly> <%= @saving.month %></textarea>
    </div>
  <br>
    <div>
      <strong>Year:</strong><br><br>
      <textarea rows="1" cols="80" readonly> <%= @saving.year %></textarea>
    </div>
  <br>
    <div>
      <strong>Saving date:</strong><br><br>
      <textarea rows="1" cols="80" readonly> <%= @saving.saving_date %></textarea>
    </div>
  <br>
    <div>
      <strong>Name:</strong><br><br>
      <textarea rows="1" cols="80" readonly>  <%= @saving.name %></textarea>
    </div>
</div>


<div class="jumbotron">
  <div>
    Created on:
    <%=h @saving.created_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Updated on:
    <%=h @saving.updated_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Saving Number:
    SN - <%=h @saving_number %>
  </div>
  <br>
</div>


<div class="links">
  <%= link_to 'Edit', edit_saving_path(@saving), class:'fa fa-edit' %> |
  <%= link_to 'Back', savings_path, class:'fa fa-arrow-left' %>
</div>

<div class="jumbotron">

  <stong> Total Monthly Lodgement (€): </stong><br><br>

  <p> <%= @totallodgement %></p><br>
  <div class="alert-info"><%= @totallodgement.humanize %></div><br>

  <stong> Total Monthly Withdrawal (€): </stong><br><br>

  <p> <%= @totalwithdrawal %></p>
  <div class="alert-info"><%= @totalwithdrawal.humanize %></div><br>

  <stong> Monthly Balance (€): </stong><br><br>

  <p> <%= @balance %></p>
  <div class="alert-info"><%= @balance.humanize %></div><br>

  <stong> Monthly Reconciliation (€): </stong><br><br>

  <p> <%= @recons %></p>
  <div class="alert-info"><%= @recons.humanize %></div><br>


  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Lodgement Summary:</strong></h2></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Details </th>
      <th>Owner</th>
      <th>Amount(€)</th>
      <th>Institution</th>
    </tr>
    </thead>

    <tbody>
    <% @lodgments.each do |income| %>
      <tr>
        <td><%= income.created_at.strftime("%d %b. %Y")%>
        <td><%= income.date_posted.strftime("%d %b. %Y")%></td>
        <td><%= income.details %></td>
        <td><%= income.person.fullname %></td>
        <td><%= income.amount %></td>
        <td><%= income.institution %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Withdrawal Summary:</strong></h2></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Reg. Date</th>
      <th>Date Posted</th>
      <th>Details </th>
      <th>Owner</th>
      <th>Amount(€)</th>
      <th>Institution</th>
    </tr>
    </thead>

    <tbody>
    <% @withdrawals.each do |expense| %>
      <tr>
        <td><%= expense.created_at.strftime("%d %b. %Y")%>
        <td><%= expense.date_posted.strftime("%d %b. %Y")%></td>
        <td><%= expense.details %></td>
        <td><%= expense.person.fullname %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.institution %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div class="links">
  <%= link_to 'Edit', edit_saving_path(@saving), class:'fa fa-edit' %> |
  <%= link_to 'Back', savings_path, class:'fa fa-arrow-left' %>
</div>



























<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Lodgements</strong></h2></div>
<br>
<div>

  <% for cash in @saving.lodgements %>

    <div class="jumbotron">

      <div>
        <strong>Owner:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.person.fullname %> </textarea>
      </div>
      <br>
      <div>
        <strong>Type:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h cash.financialinstitution.name %> </textarea>
      </div>
      <br>
      <div>
        <strong>Amount:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.amount %></textarea>
      </div>
      <br>
      <div>
        <strong> Details:</strong>:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.details %> </textarea>
      </div>
      <br>
      <div>
        Registered on:
        <%=h cash.created_at.strftime("%d %b. %Y") %>
      </div>
      <div>
        ID:
        <%=h cash.id %>
      </div>

    </div>
  <% end %>

</div>

<div class="links">
  <%= link_to 'Edit', edit_saving_path(@saving), class:'fa fa-edit' %> |
  <%= link_to 'Back', savings_path, class:'fa fa-arrow-left' %>
</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong> Withdrawals</strong></h2></div>
<br>
<div>

  <% for cash in @saving.withdrawals %>

    <div class="jumbotron">

      <div>
        <strong>Owner:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.person.fullname %> </textarea>
      </div>
      <br>
      <div>
        <strong>Type:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h cash.financialinstitution.name %> </textarea>
      </div>
      <br>
      <div>
        <strong>Amount:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.amount %></textarea>
      </div>
      <br>
      <div>
        <strong> Details:</strong>:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.details %> </textarea>
      </div>
      <br>
      <div>
        Registered on:
        <%=h cash.created_at.strftime("%d %b. %Y") %>
      </div>
      <div>
        ID:
        <%=h cash.id %>
      </div>

    </div>
  <% end %>

</div>

<div class="links">
  <%= link_to 'Edit', edit_saving_path(@saving), class:'fa fa-edit' %> |
  <%= link_to 'Back', savings_path, class:'fa fa-arrow-left' %>
</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong> Comments</strong></h2></div>
<br>
<div>

  <% for comment in @saving.comments %>

    <div class="jumbotron">

      <div>
        <strong>Comments:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h comment.commentary %> </textarea>
      </div>
      <br>
      <div>
        Registered on:
        <%=h comment.created_at.strftime("%d %b. %Y") %>
      </div>
      <div>
        ID:
        <%=h comment.id %>
      </div>

    </div>
  <% end %>

</div>








<div class="links">
  <%= link_to 'Edit', edit_saving_path(@saving), class:'fa fa-edit' %> |
  <%= link_to 'Back', savings_path, class:'fa fa-arrow-left' %>
</div>

