<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div >
    <strong>Month:</strong><br><br>
    <textarea rows="1" cols="80" readonly><%= @cashflow.month %></textarea>
  </div>
  <br>
  <div>
    <strong>Year:</strong><br><br>
    <textarea rows="1" cols="80" readonly><%= @cashflow.year %></textarea>
  </div>
  <br>
  <div>
    <strong>Accounting date:</strong><br><br>
    <textarea rows="1" cols="80" readonly> <%= @cashflow.accounting_date.strftime("%d, %b  %Y") %></textarea>
  </div>
  <br>
  <div>
    <strong>Name:</strong><br><br>
    <textarea rows="1" cols="80" readonly><%= @cashflow.name %></textarea>
  </div>
  <br><br>

</div>

<div class="jumbotron">
  <div>
    Created on:
    <%=h @cashflow.created_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Updated on:
    <%=h @cashflow.updated_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Cashflow Number:
    CN - <%=h @cashflow_number %>
  </div>
  <br>
</div>
<div class="links">
  <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>

</div>

<div class="jumbotron">
<hr>
  <stong> Total Income (€): </stong><br><br>

  <p>€ <%= @totalinflow %></p><br>


  <stong> Total Expenses (€): </stong><br><br>

  <p> € <%= @totaloutflow %></p>

  <hr>
  <stong> Cash Injection (€): </stong><br><br>

  <p>€ <%=@cash_injection%></p>
<hr>
  <stong> Balance (€): </stong><br><br>
    <% if @balance < @i  %>
      <strong><p style="color: #B00100"> € <%= @balance %></p></strong>
    <% else %>
      <strong><p style="color: green"> € <%= @balance %></p></strong>
    <% end %>
  <stong> Balance Planned (€): </stong><br><br>
    <p>€ <%= @budgets %></p>
  <hr>
  <stong> Monthly Savings Balance (€): </stong><br><br>
    <p>€ <%= @savings %></p>


  <hr>  <hr>
  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Income Summary:</strong></h2></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Details </th>
      <th>Owner</th>
      <th>Amount(€)</th>
    </tr>
    </thead>

    <tbody>
    <% @inflows.each do |income| %>
      <tr>
        <td><%= income.created_at.strftime("%d %b. %Y")%></td>
        <td><%= income.details %></td>
        <td><%= income.owner %></td>
        <td><%= income.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div><h2 style="font-size: 15px;background-color: goldenrod;color: white"><strong>Expenses Summary:</strong></h2></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Details </th>
      <th>Owner</th>
      <th>Amount(€)</th>
    </tr>
    </thead>

    <tbody>
    <% @outflows.each do |expense| %>
      <tr>
        <td><%= expense.created_at.strftime("%d %b. %Y")%></td>
        <td><%= expense.details %></td>
        <td><%= expense.owner %></td>
        <td><%= expense.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="links">
  <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>

</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong> Inflows</strong></h2></div>
<br>
<div>

  <% for cash in @cashflow.inflows %>

    <div class="jumbotron">

      <div>
        <strong>Owner:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.person.fullname%> </textarea>
      </div>
      <br>
      <div>
        <strong>Type:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h cash.inflowtype.name %> </textarea>
      </div>
      <br>
      <div>
        <strong>Amount:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.amount %></textarea>
      </div>
      <br>
      <div>
        <strong> Details:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.details %> </textarea>
      </div>
      <br>
      <div>
        Registered on:
        <%=h cash.created_at.strftime("%d %b. %Y") %>
      </div>
      <div>
        ID:
        <%=h cash.id %>
      </div>


    </div>
  <% end %>

</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong> Outflows</strong></h2></div>
<br>
<div>

  <% for cash in @cashflow.outflows %>

    <div class="jumbotron">

      <div>
        <strong>Owner:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.person.fullname%> </textarea>
      </div>
      <br>

      <div>
        <strong>Type:</strong><br><br>
        <textarea rows="1" cols="80" readonly>  <%=h cash.outflowtype.name %> </textarea>
      </div>
      <br>

      <div>
        <strong>Amount:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.amount %></textarea>
      </div>
      <br>
      <div>
        <strong> Details:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h cash.details %> </textarea>
      </div>
      <br>
      <div>
        Registered on:
        <%=h cash.created_at.strftime("%d %b. %Y") %>
      </div>
      <div>
        ID:
        <%=h cash.id %>
      </div>

    </div>
  <% end %>

</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong> Comments</strong></h2></div>
<br>
<div>

  <% for comment in @cashflow.comments %>

    <div class="jumbotron">

      <div>
        <strong>Comments:</strong><br><br>
        <textarea rows="1" cols="80" readonly> <%=h comment.commentary %> </textarea>
      </div>
      <br>
      <div>
        Registered on:
        <%=h comment.created_at.strftime("%d %b. %Y") %>
      </div>
      <div>
        ID:
        <%=h comment.id %>
      </div>

    </div>
  <% end %>

</div>


<div class="links">
  <%= link_to 'Edit', edit_cashflow_path(@cashflow), class:' fa fa-edit' %> |
  <%= link_to 'Back', cashflows_path, class:' fa fa-arrow-left' %>

</div>

