<% provide(:title, "View Ledger") %>
<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <div>
      <strong>Month:</strong><br><br>
      <textarea rows="1" cols="80" readonly>     <%= @ledger.month %></textarea>
  </div>
  <br>
  <div>
      <strong>Year:</strong><br><br>
      <textarea rows="1" cols="80" readonly>   <%= @ledger.year %></textarea>
  </div>
  <br>
  <div>
      <strong>Ledger date:</strong><br><br>
      <textarea rows="1" cols="80" readonly>   <%= @ledger.ledger_date.strftime("%d %b. %Y") %></textarea>
  </div>
  <br>
  <div>
      <strong>Name:</strong><br><br>
      <textarea rows="1" cols="80" readonly>   <%= @ledger.name %></textarea>
  </div>

</div>


<div class="breadcrumb">
  <div>
    Created on:
    <%=h @ledger.created_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Updated on:
    <%=h @ledger.updated_at.strftime("%d %b. %Y") %>
  </div>
  <br>
  <div>
    Saving Number:
    LN - <%=h @ledger_number %>
  </div>
  <br>
</div>


<div class="jumbotron">

<hr>

  <stong> Annual Budget Balance [Remainder] (€): </stong><br><br>

  <p>€<%= @budget_balance %></p><br>

  <stong> Annual Cashflow Balance [Remainder] (€): </stong><br><br>

  <p> €<%= @cashflow_balance %></p><br>
  <hr>
  <stong> Annual Budget - Annual Cashflow (Actual) (€): </stong><br><br>
  <% if @budget_vs_cashflow < @zero %>
    <P> €<%= @budget_vs_cashflow %></P>
    <div class="alert-danger"><%= @over_budget_message %></div>
  <% else %>
    <p> €<%= @budget_vs_cashflow %></p>
    <div class=" alert-success"><%= @under_budget_message %></div>
  <% end %>
  <hr>
  <stong>Annual Savings Balance (€): </stong><br><br>

  <p> €<%= @saving_balance %></p><br>

  <hr>
<hr/>


  <stong> Annual Savings + Annual Cashflow Balance (Actual) (€): </stong><br><br>

  <p>Total Annual Liquid Assets = €<%= @cashflow_balance_plus_saving_balance %> </p>
  <br>

<hr>
  <stong> Liquidity (€): </stong><br><br>


  <p>Annual Total Inflow = €<%= @annual_total_inflow %></p>
  <p>Annual Total Outflow = €<%= @annual_total_outflow %></p>
</div>
<div class="links">
  <%= link_to 'Edit', edit_ledger_path(@ledger), class:'fa fa-edit' %> |
  <%= link_to 'Back', ledgers_path, class:'fa fa-arrow-left'  %>

</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 1: Budgeted Incomes Breakdown</strong></h2></div>
<br>


<div class="jumbotron">
  <div>
    <strong>Salary:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @salary %></textarea>
  </div>
  <br>
  <div>
    <strong>Child Benefit:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @child_benefit %></textarea>
  </div>
  <br>

  <div>
    <strong>Lotto Winnings:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @lotto_winnings %></textarea>
  </div>
  <br>
  <div>
    <strong>Others:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @others %></textarea>
  </div>
  <br><br>
  <div>
    Total Income = € <%= @annual_total_income %>
  </div>
</div>

<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 2: Budgeted Expenses Breakdown</strong></h2></div>
<br>

<div class="jumbotron">
  <div>
    <strong>Rent:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @rent  %></textarea>
  </div>
  <br>
  <div>
    <strong>Telecom:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @telecom %></textarea>
  </div>
  <br>

  <div>
    <strong>eFlow:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @eflow %></textarea>
  </div>
  <br>
  <div>
    <strong>Food:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @food %></textarea>
  </div>
  <br>
  <div>
    <strong>Electricity:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @electricity %></textarea>
  </div>
  <br>
  <div>
    <strong>Credit Card Fees:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @credit_card_fees %></textarea>
  </div>
  <br>
  <div>
    <strong>Current Account Fees:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @current_account_fees %></textarea>
  </div>
  <br>
  <div>
    <strong>Allowance - Gaelle:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @allowance_gaelle %></textarea>
  </div>
  <br>
  <div>
    <strong>Allowance - Herve:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @allowance_herve %></textarea>
  </div>
  <br>
  <div>
    <strong>Loan  - PTSB:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @loan_ptsb %></textarea>
  </div>
  <br>
  <div>
    <strong>Loan - Chill Money:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @loan_chill_money %></textarea>
  </div>
  <br>
  <div>
    <strong>Lodgement - Credit Union:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @lodgement_credit_union %></textarea>
  </div>
  <br>
  <div>
    <strong>Family Support:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @family_support %></textarea>
  </div>
  <br>
  <div>
    <strong>Entertainment - Night Out:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @entertainment_nightout %></textarea>
  </div>
  <br>
  <div>
    <strong>Entertainment - Day Out:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @entertainment_dayout %></textarea>
  </div>
  <br>
  <div>
    <strong>Apple storage:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @apple_storage %></textarea>
  </div>
  <br>
  <div>
    <strong>AA Ireland:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @aa_ireland %></textarea>
  </div>
  <br>
  <div>
    <strong>Lottery Ticket:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @lottery_ticket %></textarea>
  </div>
  <br>
  <div>
    <strong>Car Tax:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @car_tax %></textarea>
  </div>
  <br>
  <div>
    <strong>Heating Oil:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @heating_oil %></textarea>
  </div>
  <br>

  <div>
    <strong>Car Service:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @car_service %></textarea>
  </div>
  <br>
  <div>
    <strong>Spiritual Tools:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @spiritual_tools %></textarea>
  </div>
  <br>
  <div>
    <strong>Other:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%=@other_expenses %></textarea>
  </div>
  <br>
  <div>
    <strong>Work Lunch:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @work_lunch %></textarea>
  </div>
  <br>
  <div>
    <strong>Pharmacy:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @pharmacy %></textarea>
  </div>
  <br>
  <div>
    <strong>Furniture:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @furniture%></textarea>
  </div>
  <br><br>
  <div>
    Total Expenses = € <%= @annual_total_expenses %>
  </div>
</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 3: Actual Income Breakdown</strong></h2></div>
<br>

<div class="jumbotron">
  <div>
    <strong>Salary:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @isalary %></textarea>
  </div>
  <br>
  <div>
    <strong>Child Benefit:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ichild_benefit %></textarea>
  </div>
  <br>

  <div>
    <strong>Lotto Winnings:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ilotto_winnings %></textarea>
  </div>
  <br>
  <div>
    <strong>Others:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iothers %></textarea>
  </div>
  <br><br>
  <div>
    Total Income = € <%= @annual_total_inflow %>
  </div>
</div>


<div><h2 style="font-size: 15px;background-color: navy;color: white"><strong>Section 4: Actual Expenses Breakdown</strong></h2></div>
<br>

<div class="jumbotron">
  <div>
    <strong>Rent:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @irent  %></textarea>
  </div>
  <br>
  <div>
    <strong>Telecom:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @itelecom %></textarea>
  </div>
  <br>

  <div>
    <strong>eFlow:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ieflow %></textarea>
  </div>
  <br>
  <div>
    <strong>Food:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ifood %></textarea>
  </div>
  <br>
  <div>
    <strong>Electricity:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ielectricity %></textarea>
  </div>
  <br>
  <div>
    <strong>Credit Card Fees:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @icredit_card_fees %></textarea>
  </div>
  <br>
  <div>
    <strong>Current Account Fees:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @icurrent_account_fees %></textarea>
  </div>
  <br>
  <div>
    <strong>Allowance - Gaelle:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iallowance_gaelle %></textarea>
  </div>
  <br>
  <div>
    <strong>Allowance - Herve:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iallowance_herve %></textarea>
  </div>
  <br>
  <div>
    <strong>Loan  - PTSB:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iloan_ptsb %></textarea>
  </div>
  <br>
  <div>
    <strong>Loan - Chill Money:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iloan_chill_money %></textarea>
  </div>
  <br>
  <div>
    <strong>Lodgement - Credit Union:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ilodgement_credit_union %></textarea>
  </div>
  <br>
  <div>
    <strong>Family Support:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ifamily_support %></textarea>
  </div>
  <br>
  <div>
    <strong>Entertainment - Night Out:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ientertainment_nightout %></textarea>
  </div>
  <br>
  <div>
    <strong>Entertainment - Day Out:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ientertainment_dayout %></textarea>
  </div>
  <br>
  <div>
    <strong>Apple storage:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iapple_storage %></textarea>
  </div>
  <br>
  <div>
    <strong>AA Ireland:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iaa_ireland %></textarea>
  </div>
  <br>
  <div>
    <strong>Lottery Ticket:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ilottery_ticket %></textarea>
  </div>
  <br>
  <div>
    <strong>Car Tax:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @icar_tax %></textarea>
  </div>
  <br>
  <div>
    <strong>Heating Oil:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iheating_oil %></textarea>
  </div>
  <br>

  <div>
    <strong>Car Service:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @icar_service %></textarea>
  </div>

  <br>
  <div>
    <strong>Spiritual Tools:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ispiritual_tools %></textarea>
  </div>
  <br>
  <div>
    <strong>Other:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iother_expenses %></textarea>
  </div>
  <br>
  <div>
    <strong>Work Lunch:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @iwork_lunch %></textarea>
  </div>
  <br>
  <div>
    <strong>Pharmacy:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ipharmacy %></textarea>
  </div>
  <br>
  <div>
    <strong>Furniture:</strong><br><br>
    <textarea rows="1" cols="80" readonly>€  <%= @ifurniture%></textarea>
  </div>
  <br><br>
  <div>
    Total Expenses = € <%= @annual_total_outflow %>
  </div>
</div>


<div class="links">
  <%= link_to 'Edit', edit_ledger_path(@ledger), class:'fa fa-edit' %> |
  <%= link_to 'Back', ledgers_path, class:'fa fa-arrow-left'  %>

</div>


