<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresspools.each do |addresspool| %>
      <tr>
        <td><%= link_to addresspool.address,addresspool %></td>
        <td><%= link_to 'View', addresspool, class:'fa fa-eye' %></td>
        <td><%= link_to 'Edit', edit_addresspool_path(addresspool),class:'fa fa-edit' %></td>
        <td><%= link_to 'Delete', addresspool, method: :delete, data: { confirm: 'Are you sure?' }, class:'fa fa-remove' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="links">
  <%= link_to 'New Addresspool', new_addresspool_path, class:'fa fa-plus' %>
</div>

