<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <strong>Address:</strong><br><br>
  <p class="show_page_data"><%= @addresspool.address %>
  </p>

</div>

<div class="jumbotron">
  <strong>Active:</strong><br><br>
  <p class="show_page_data"> <%= @addresspool.active %>
  </p>


</div>






<div class="links">
  <%= link_to 'Edit', edit_addresspool_path(@addresspool), class:'fa fa-edit' %> |
  <%= link_to 'Back', addresspools_path, class:'fa fa-arrow-left' %>
</div>

