<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @employer.sector %>
</p>

<p>
  <strong>User:</strong>
  <%= @employer.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @employer.active %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
