<p id="notice"><%= notice %></p>

<h1>Base Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Active</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_items.each do |base_item| %>
      <tr>
        <td><%= base_item.name %></td>
        <td><%= base_item.description %></td>
        <td><%= base_item.owner %></td>
        <td><%= base_item.active %></td>
        <td><%= base_item.user_id %></td>
        <td><%= link_to 'Show', base_item %></td>
        <td><%= link_to 'Edit', edit_base_item_path(base_item) %></td>
        <td><%= link_to 'Destroy', base_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base Item', new_base_item_path %>
