<p id="notice"><%= notice %></p>

<h1>Base Items</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_items.each do |base_item| %>
      <tr>
        <td><%= link_to base_item.name, base_item %></td>
        <td><%= base_item.description %></td>
        <td><%= base_item.owner %></td>

        <td><%= link_to 'View', base_item, class:'fa fa-eye' %></td>
        <td><%= link_to 'Edit', edit_base_item_path(base_item), class:'fa fa-edit' %></td>
        <td><%= link_to 'Delete', base_item, method: :delete, data: { confirm: 'Are you sure?' }, class:'fa fa-remove' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="links">
<%= link_to 'New Base Item', new_base_item_path, class:'fa fa-plus' %>
</div>