<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <strong>Name:</strong>
  <p class="show_page_data"> <%= @school.name %>
  </p>


</div>


<div class="jumbotron">

  <strong>Address:</strong><br> <br>
  <p class="show_page_data">  <%= @school.address %>
  </p>
</div>

<div class="jumbotron">
  <strong>Email:</strong><br> <br>
<p class="show_page_data"> <%= @school.email %>
</p>

</div>

<div class="jumbotron">
  <strong>Telephone:</strong><br> <br>
  <p class="show_page_data"> <%= @school.telephone %>
  </p>

</div>

<div class="jumbotron">
  <strong>Active:</strong><br> <br>
<p class="show_page_data"> <%= @school.active %>
</p>
</div>


<div class="links">
  <%= link_to 'Edit', edit_school_path(@school), class: 'fa fa-edit' %> |
  <%= link_to 'Back', schools_path, class: 'fa fa-arrow-left' %>
</div>

