<p id="notice"><%= notice %></p>

<h1>Employerpools</h1>

<table>
  <thead>
    <tr>
      <th>Employer</th>
      <th>Sector</th>
      <th>User</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employerpools.each do |employerpool| %>
      <tr>
        <td><%= employerpool.employer %></td>
        <td><%= employerpool.sector %></td>
        <td><%= employerpool.user_id %></td>
        <td><%= employerpool.active %></td>
        <td><%= link_to 'Show', employerpool %></td>
        <td><%= link_to 'Edit', edit_employerpool_path(employerpool) %></td>
        <td><%= link_to 'Destroy', employerpool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employerpool', new_employerpool_path %>
