<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
  <% if current_user %>
    <%= render 'user/gravatar'%>
  <% else %>

  <% end %>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%=image_tag("front.png", alt: "Rails logo", :size => "1140x400") %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
